body {
  --color-red: #e97777;
  --color-green: #F4D160;
  --color-blue: #75C2F6;
  --color-gray: #DDE6ED;
  
  margin: 0;
  background: #1D5D9B;
  color: #333;
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #F4D160;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 18px;
  color: white;
  text-shadow: 1px 1px 2px #000000;
  text-decoration: none;
  font-weight: 600;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #e97777;
}

/* Current/active navbar link */
.active {
  background-color: #1D5D9B;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on small screens */
@media screen and (max-width: 750px) {
  .logo {
    display: none;
  }
  .navbar a {
    float: none;
    display: block;
  }
}

/* LOGO */
.logo {
  position: absolute;
  right: 10px;
  padding: 4px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

h1 {
  padding-top: 30px;
  color: #888888;
}


.wrapper {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.wrapper a {
  color: black;
}

.legenda {
  padding: 12px;
  width: 100%;
  border-collapse: collapse;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  width: 100%;
}

.timeline li {
  margin-bottom: 50px;
  position: relative;
  display: flex;
}

.timeline .panel {
  width: 750px;
  border-radius: 0px;
  overflow: hidden;
  position: relative;
  background: #ffffff;
}

.timeline p {
  padding: 0 20px 10px 20px;
}

.timeline summary {
  display: block;
  user-select: none;
  cursor: pointer;
  color: black;
  text-shadow: 1px 1px 2px #ffffff;
  outline: none;
  padding: 20px;
  margin-bottom: 0px;
  transition: all 600ms cubic-bezier(0.2, 1, 0.3, 1);
  font-weight: 600;
}

.timeline .panel[open] summary {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.timeline summary:hover {
  background: #f8f8f8;
}



.timeline li[data-color="red"]:before {
  background-color: var(--color-red);
}

.timeline li[data-color="green"]:before {
  background-color: var(--color-green);
}

.timeline li[data-color="blue"]:before {
  background-color: var(--color-blue);
}

.timeline li[data-color="gray"]:before {
  background-color: var(--color-gray);
}

.timeline li[data-color="red"] summary {
  background-color: var(--color-red);
}

.timeline li[data-color="green"] summary {
  background-color: var(--color-green);
}

.timeline li[data-color="blue"] summary {
  background-color: var(--color-blue);
}

.timeline li[data-color="gray"] summary {
  background-color: var(--color-gray);
}

.timeline li.dx:before {
  left: auto;
  right: 80%;
  transform: translateX(50%) translateY(-50%);
}

.timeline li.sx:before {
  left: 80%;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
}

.timeline li.dx .panel {
  margin-left: auto;
}

.timeline li.sx .panel {
  margin-right: auto;
}

.timeline li.dx summary {
  text-align: right;
}

.timeline li.sx summary {
  text-align: left;
}

.timeline li.dx p {
  text-align: right;
}

.timeline li.sx p {
  text-align: left;
}
